@mixin buttons($bgcolor, $textcolor) {
    background-color: $bgcolor;
    color: $textcolor;

    &:hover {
        background-color: darken($bgcolor, 20%);
    }
}

.btn {
    display: inline-block;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    &--blank {
        @include buttons(transparent, $color-text);
    }

    &--gray {
        @include buttons($color-gray-lite, $color-white);
    }
}
