.btn {
    display: block;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    &--green {
        border: 1px solid transparent;
        background-color: $color-green;
        color: $color-white;

        &:hover {
            background-color: darken($color-green, 10%);
        }
    }

    &--gray {
        border: 1px solid transparent;
        background-color: $color-gray-lite;
        color: $color-white;

        &:hover {
            background-color: darken($color-gray-lite, 10%);
        }
    }
}
