.form__group {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form__control {
    display: block;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 10px;
    outline: none;

    &[type='text'] {
        width: 100%;
        min-width: 100px;
        max-width: 400px;
        border: 1px solid $color-gray;
        background-color: $color-white;
        color: $color-text;
    }
}
