#list {
    position: absolute;
    top: 0;
    left: -100%;
    width: calc(100vw - 70px);
    height: 100vh;
    margin-left: $nav-width;

    display: flex;
    flex-direction: column;

    transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
    z-index: 99;
    background-color: $color-white;
    border-right: 1px solid $color-gray-lite;

    @media screen and (min-width: $sm) {
        left: -400px;
        width: 400px;
    }

    &.list--open {
        left: 0;
        margin-left: $nav-width;
    }

    .list__item {
        padding: 1.5em 1em;
        border-bottom: 1px solid $color-gray-lite;
        cursor: pointer;

        &:hover {
            background-color: darken($color-white, 20%);
        }
    }
}
.list__container,
.list__header {
    padding: 1em 2em;
}

.list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
        margin-left: auto;
    }
}
