#notelist {
    .list__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0.5em 1em;
        margin-bottom: 0.5em;
        border: 1px solid $color-gray;
        border-radius: 10px;
        background-color: rgba($color-black, 0.2);
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            background-color: rgba($color-black, 0.3);
            color: $color-white;

            span {
                display: block;
            }
        }

        span {
            display: none;
            width: 20px;
            height: 20px;
            background: url('/icon-delete.png') no-repeat center center;
            background-size: cover;
        }
    }
}
