* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: calc(14px + 0.6vh);
    margin: 0;
    padding: 0;
    color: $color-text;
    background-color: $color-white;
}

main {
    width: 100%;
    height: 100%;
}

section {
    padding: 3em 0;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 5%;
}

#header {
    border-bottom: 2px solid rgba($color-gray, 0.5);
}
