// Color settings
$color-gray: #585858;
$color-gray-lite: #999999;
$color-black: #383838;
$color-white: #ffffff;
$color-green: #66c320;
$color-text: $color-black;

// Breakpoint
$sm: 600px;

$font-size-4: 4em;
$font-size-3: 3em;
$font-size-2: 2em;
$font-size-1: 1em;
