// Typography settings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1;

    &.strong {
        font-weight: 500;
    }
}

* > strong,
strong {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;

    &:active,
    &:visited,
    &:focus {
        color: currentcolor;
    }
}
